<article>
  <h2 class="section-heading">Edit Task</h2>
  <form [formGroup]="modifyForm" (submit)="modifyTask()" novalidate>
    <!-- Title -->
    <label for="title">Task Title</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      placeholder="Enter Task title"
    />
    <div
      class="error-box"
      *ngIf="modifyForm.get('title')?.hasError('required')"
    >
      Title is required
    </div>
    <div
      class="error-box"
      *ngIf="modifyForm.get('title')?.hasError('maxlength')"
    >
      Max Length Reached
    </div>

    <!-- Description -->
    <label for="description">Task Description</label>
    <textarea id="description" formControlName="description"></textarea>
    <div
      class="error-box"
      *ngIf="modifyForm.get('description')?.hasError('required')"
    >
      Description is required
    </div>
    <div
      class="error-box"
      *ngIf="modifyForm.get('description')?.hasError('maxlength')"
    >
      Max Length Reached
    </div>

    <!-- Link -->
    <label for="linkUrl">Task Customer Link</label>
    <input
      id="linkUrl"
      type="text"
      formControlName="linkUrl"
      placeholder="Enter Task Link"
    />
    <div
      class="error-box"
      *ngIf="modifyForm.get('linkUrl')?.hasError('required')"
    >
      Customer Link is required
    </div>
    <div
      class="error-box"
      *ngIf="modifyForm.get('linkUrl')?.hasError('invalidUrl')"
    >
      Invalid URL
    </div>

    <!-- Image -->
    <label for="imgUrl">Task Image</label>
    <input
      id="imgUrl"
      type="text"
      formControlName="imgUrl"
      placeholder="Enter task image URL"
    />

    <ngx-file-drop
      dropZoneLabel="Drop files here"
      (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)"
      (onFileLeave)="fileLeave($event)"
    >
      <ng-template
        ngx-file-drop-content-tmp
        let-openFileSelector="openFileSelector"
      >
        <div *ngIf="uploadedImageUrl">
          <img
            class="uploadedImg"
            [src]="uploadedImageUrl"
            alt="Uploaded Image"
          />
        </div>
        <button type="button" (click)="openFileSelector()">Browse Files</button>
      </ng-template>
    </ngx-file-drop>

    <div
      class="error-box"
      *ngIf="modifyForm.get('imgUrl')?.hasError('required')"
    >
      Image Link is required
    </div>

    <!-- Hidden -->
    <div class="hidden-checkbox">
      <label for="hidden">Hidden</label>
      <div class="checkbox-container">
        <input id="hidden" type="checkbox" formControlName="hidden" />
      </div>
    </div>

    <!-- Finish -->
    <button type="submit" class="primary" [disabled]="!modifyForm.valid">
      Modify the task
    </button>
  </form>
</article>
