body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

article {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
}

.section-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-top: 10px;
}

input,
textarea {
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button.primary {
  background-color: #3e5c76; /* Color 2 */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button.primary:hover {
  background-color: #2077b3;
}

.error-box {
  background-color: #f0ebd8; /* Color 1 */
  border: 1px solid #d3c0a9;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #333;
}

/* Checkbox Styles */
.hidden-checkbox {
  display: flex;
  margin-top: 5px;
}

.checkbox-container {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
}

/* Uploaded Image Styles */
.uploadedImgContainer {
  text-align: center;
  margin: 20px 0;
}

.uploadedImg {
  width: 150px;
  margin-right: 1rem;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 600px) {
  article {
    margin: 10px;
  }
}
