<article>
  <h2 class="section-heading">Add New Task</h2>
  <form [formGroup]="applyForm" (submit)="submitWork()" novalidate>
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title" />
    <!-- Add required validator for other input fields as needed -->
    <label for="description">Description</label>
    <input id="description" type="text" formControlName="description" />
    <label for="linkUrl">Link</label>
    <input id="linkUrl" type="text" formControlName="linkUrl" />
    <label for="imgUrl">Add Images</label>
    <input id="imgUrl" type="text" formControlName="imgUrl" />

    <button type="submit" class="primary" [disabled]="!applyForm.valid">
      Add new task
    </button>
  </form>
</article>
