<article>
  <h2 class="section-heading">Add New Task</h2>
  <form [formGroup]="applyForm" (submit)="submitWork()" novalidate>
    <!-- Title -->
    <label for="title">Task Title</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      placeholder="Enter Task title"
    />
    <div class="error-box" *ngIf="applyForm.get('title')?.hasError('required')">
      Title is required
    </div>
    <div
      class="error-box"
      *ngIf="applyForm.get('title')?.hasError('maxlength')"
    >
      Max Length Reached
    </div>

    <!-- Description -->
    <label for="description">Task Description</label>
    <textarea id="description" formControlName="description"></textarea>
    <div
      class="error-box"
      *ngIf="applyForm.get('description')?.hasError('required')"
    >
      Description is required
    </div>
    <div
      class="error-box"
      *ngIf="applyForm.get('description')?.hasError('maxlength')"
    >
      Max Length Reached
    </div>

    <!-- Link -->
    <label for="linkUrl">Task Link</label>
    <input
      id="linkUrl"
      type="text"
      formControlName="linkUrl"
      placeholder="Enter Task Link"
    />
    <div
      class="error-box"
      *ngIf="applyForm.get('linkUrl')?.hasError('required')"
    >
      Customer Link is required
    </div>
    <div
      class="error-box"
      *ngIf="applyForm.get('linkUrl')?.hasError('invalidUrl')"
    >
      Invalid URL
    </div>

    <!-- Image -->
    <label for="imgUrl">Task Images</label>
    <input
      id="imgUrl"
      type="text"
      formControlName="imgUrl"
      placeholder="Enter task image URL"
    />
    <ngx-file-drop
      dropZoneLabel="Drop files here"
      (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)"
      (onFileLeave)="fileLeave($event)"
    >
      <ng-template
        ngx-file-drop-content-tmp
        let-openFileSelector="openFileSelector"
      >
        Optional custom content that replaces the entire default content.
        <button type="button" (click)="openFileSelector()">Browse Files</button>
      </ng-template>
    </ngx-file-drop>
    <div *ngIf="uploadedImageUrl">
      <img class="uploadedImg" [src]="uploadedImageUrl" alt="Uploaded Image" />
    </div>
    <div
      class="error-box"
      *ngIf="applyForm.get('imgUrl')?.hasError('required')"
    >
      Image Link is required
    </div>

    <!-- Hidden -->
    <div class="hidden-checkbox">
      <label for="hidden">Hidden</label>
      <div class="checkbox-container">
        <input id="hidden" type="checkbox" formControlName="hidden" />
      </div>
    </div>

    <!-- Finish -->
    <button type="submit" class="primary" [disabled]="!applyForm.valid">
      Add new task
    </button>
  </form>
</article>
