.navbar {
  background-color: #3e5c76; /* Set your desired background color */
  padding: 15px;
}

.navbar-content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
}

.content {
  max-width: 1440px; /* Set the maximum width */
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 5px;
  margin-left: 1.5rem;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
  background-color: #f0ebd8;

  border-radius: 6px;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

li:hover {
  background-color: #d1d1d1;
}

a {
  display: block;
  text-decoration: none;
  color: #0d1321;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease; /* Add a smooth transition effect */
}

/* Style the active link */
a.router-link-active {
  border-bottom: 2px solid #fff; /* Highlight active link with a bottom border */
}
