.content {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.list-grid {
  display: flex;
  background-color: #f0edb8;
  fill: #3e5c76;
  transition: fill 0.3 ease;
  margin-top: 10px;
  margin-right: 16px;
  border-radius: 10px;
  max-width: fit-content;
}
.activeView {
  background-color: #3e5c76;
  border-radius: 10px;
  fill: #f0edb8;
  transition: fill 0.5 ease;
}
.results {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
  justify-content: space-around;
}
.results-list-view,
.results-list-hidden-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.results-list-view app-display-work {
  width: 80%;
  margin-bottom: 15px;
}

.results-list-hidden-view app-display-work {
  width: 80%;
  margin-bottom: 15px;
}

.results-grid-view {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
  justify-content: space-around;
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}
button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
}

@media (min-width: 1025px) {
  .results,
  .results-grid-view {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .results.list-view {
    display: flex;
    flex-direction: column;
  }
  input[type="text"] {
    width: 50%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .results,
  .results-grid-view {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .results.list-view {
    display: flex;
    flex-direction: column;
  }
  input[type="text"] {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .results,
  .results-grid-view {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .results.list-view {
    display: flex;
    flex-direction: column;
  }

  input[type="text"] {
    width: 100%;
  }
}

@media (max-width: 499px) {
  .results,
  .results-grid-view {
    grid-template-columns: repeat(2, 1fr);
  }
  .results.list-view {
    display: flex;
    flex-direction: column;
  }
  .results-list-view {
  }
}
