<section>
  <section class="btn-container">
    <section class="list-grid">
      <button (click)="toggleCustom()" [class.activeView]="showOnlyHidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
        >
          <path
            d="m840-234-80-80v-446H314l-80-80h526q33 0 56.5 23.5T840-760v526ZM792-56l-64-64H200q-33 0-56.5-23.5T120-200v-528l-64-64 56-56 736 736-56 56ZM240-280l120-160 90 120 33-44-283-283v447h447l-80-80H240Zm297-257ZM424-424Z"
          />
        </svg>
      </button>
    </section>

    <section class="list-grid">
      <button
        (click)="toggleViewMode('grid')"
        [class.activeView]="viewMode === 'grid'"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
        >
          <path
            d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h240v-560H200v560Zm320 0h240v-280H520v280Zm0-360h240v-200H520v200Z"
          />
        </svg>
      </button>
      <hr />
      <button
        (click)="toggleViewMode('list')"
        [class.activeView]="viewMode === 'list'"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
        >
          <path
            d="M280-600v-80h560v80H280Zm0 160v-80h560v80H280Zm0 160v-80h560v80H280ZM160-600q-17 0-28.5-11.5T120-640q0-17 11.5-28.5T160-680q17 0 28.5 11.5T200-640q0 17-11.5 28.5T160-600Zm0 160q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520q17 0 28.5 11.5T200-480q0 17-11.5 28.5T160-440Zm0 160q-17 0-28.5-11.5T120-320q0-17 11.5-28.5T160-360q17 0 28.5 11.5T200-320q0 17-11.5 28.5T160-280Z"
          />
        </svg>
      </button>
    </section>
  </section>
  <section
    [ngClass]="{
      results: viewMode === 'grid' && !showOnlyHidden,
      'results-list-view': viewMode === 'list' && !showOnlyHidden,
      'results-grid-view': viewMode === 'grid' && showOnlyHidden
    }"
  >
    <app-display-work
      *ngFor="let displayWork of displayWorkList"
      [displayWork]="displayWork"
      [isGridView]="viewMode === 'grid'"
    ></app-display-work>
  </section>
</section>
