.body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
}

.listing {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #0d1321;
}

.detailsHead {
  display: flex;
  justify-content: space-between; /* Buttons on the right */
  align-items: center;
  margin-bottom: 20px;
}

.action-btn {
  display: flex;
  gap: 10px;
}

.action-btn button {
  background-color: #f0edb8;
  color: #0d1321;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-btn button:hover {
  background-color: #3e5c76;
}

.action-btn button.delete:hover {
  background-color: red;
}

.listing-photo {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  margin: 0 auto 20px;
}

.listing-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.listing-description {
  white-space: pre-line;
  line-height: 1.6;
}

.listing-location {
  font-size: 18px;
  margin-bottom: 15px;
}

@media (max-width: 425px) {
  .action-btn button {
    padding: 5px;
    font-size: 12px;
  }
  .listing-heading {
    font-size: 24px;
  }
}
