.body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
}

.listing {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #0d1321;
}

.detailsHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.action-btn {
  display: flex;
  gap: 10px;
}

.action-btn button {
  background-color: #f0edb8;
  color: #0d1321;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-btn button:hover {
  background-color: #3e5c76;
}

.action-btn button.delete:hover {
  background-color: red;
}

.listing-photo {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin: 0 auto 20px; /* Center the image and add margin at the bottom */
}

.listing-heading {
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto 15px; /* Center the title and add margin at the bottom */
  text-align: center; /* Center the text */
}

.listing-description {
  white-space: pre-line;
  line-height: 1.6;
}

.listing-location {
  font-size: 18px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .listing-photo {
    height: auto;
  }

  .listing-heading {
    font-size: 24px;
  }

  .listing-location {
    font-size: 16px;
  }
}
