<main class="main">
  <div class="content">
    <article class="listing">
      <section class="detailsHead">
        <h2 class="listing-heading">{{ displayWork?.title }}</h2>
        <section class="action-btn">
          <button class="modify">
            <a [routerLink]="['/modify', DisplayWorkId]"
              ><img src="assets/edit.svg"
            /></a>
          </button>
          <button class="delete" (click)="delete()">
            <img src="assets/delete.svg" />
          </button>
        </section>
      </section>
      <section>
        <img
          class="listing-photo"
          [src]="displayWork?.imgUrl"
          alt="{{ displayWork?.title }}"
          crossorigin
        />
      </section>
      <section class="listing-description">
        <p class="listing-location">
          {{ displayWork?.description }}
        </p>
        <p>
          Customer Link :
          <a [href]="displayWork?.linkUrl" target="_blank">
            {{ displayWork?.linkUrl }}
          </a>
        </p>
      </section>
    </article>
  </div>
</main>
